<?xml version="1.0" encoding="utf-8"?>
<!-- Weblinks: Browser mit Custom-Tab-Unterstützung finden (ab Android 11 nötig) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
